<div class="conatiner-fluid">
  <nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
      <h5 style="color: aliceblue">Address Book</h5>
      <div class="d-flex">
        <button
          id="buttonid"
          class="btn btn-success"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          (click)="showModalButton(true)"
        >
          Add Contact
        </button>
        <button id="buttonid" class="btn btn-danger" routerLink="/login">
          Logout
        </button>
      </div>
    </div>
  </nav>

  <!-- Add Contact Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" *ngIf="isAdding">
            Contact Details
          </h5>
          <h5 class="modal-title" id="exampleModalLabel" *ngIf="isEditing">
            Edit Contact Details
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="contactForm">
            <div class="mb-3">
              <label for="name" class="form-label">Contact Name</label>
              <input
                type="text"
                formControlName="contactName"
                class="form-control"
                id="name"
                name="name"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="company" class="form-label">Company</label>
              <input
                type="text"
                formControlName="companyName"
                class="form-control"
                id="company"
                name="company"
              />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email Address</label>
              <input
                type="email"
                formControlName="email"
                class="form-control"
                id="email"
                name="email"
              />
            </div>
            <div class="mb-3">
              <label for="phone" class="form-label">Phone No.</label>
              <input
                type="tel"
                formControlName="phoneNo"
                class="form-control"
                id="phone"
                name="phone"
              />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="resetFormData()"
          >
            Close
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            *ngIf="isAdding"
            id="add"
            (click)="addAndUpdate(true)"
          >
            Add
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            *ngIf="isEditing"
            id="edit"
            (click)="addAndUpdate()"
          >
            Edit
          </button>
        </div>
      </div>
    </div>
  </div>

  <table class="table mt-5 table-hover">
    <tr>
      <td>id</td>
      <td>Contact</td>
      <td>Company</td>
      <td>Email</td>
      <td>Phone</td>
    </tr>
    <tr *ngFor="let contact of getContacts(); let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ contact.contactName }}</td>
      <td>{{ contact.companyName }}</td>
      <td>{{ contact.email }}</td>
      <td>{{ contact.phoneNo }}</td>
      <td>
        <button
          class="btn btn-outline-success"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          id="edit"
          (click)="showModalButton(false)"
          (click)="editContactBeforeSaving(i)"
        >
          Edit
        </button>
      </td>
      <td>
        <button class="btn btn-outline-danger" (click)="deleteContact(i)">
          Delete
        </button>
      </td>
    </tr>
  </table>
</div>
