<app-navbar></app-navbar>
<div class="container py-3">
    <div class="row">
        <div class="col-md-6">
            <h2>Contact Manager</h2>
        </div>
        <div class="col ml-auto text-right">
            <button type="button" class="btn btn-outline-success" (click)="onAddContact()">Add Contact</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Komal Saini</h5>
                    <h6 class="card-subtitle mb-2 text-muted">9193996829</h6>
                    <span class="badge badge-success" >Sister</span>
                    <hr>
                    <button type="button" class="btn btn-sm btn-outline-primary mr-2">Edit</button>
                    <button type="button" class="btn btn-sm btn-outline-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade show" [class.show]="showModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Contact</h5>
                <button (click)="onCloseModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="conForm" (ngSubmit)="onConSubmit()">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Enter Name</label>
                        <input type="text" class="form-control" formControlName="name">
                        <small *ngIf="!conForm.get('name')?.valid && conForm.get('name')?.touched" class="form-text text-danger">Please Enter Name.</small>
                    </div>
                    <div class="form-group">
                        <label>Enter Contact</label>
                        <input type="phone" class="form-control" formControlName="contact">
                        <small *ngIf="!conForm.get('contact')?.valid && conForm.get('contact')?.touched" class="form-text text-danger">Please Enter phone no.</small>
                    </div>
                    <div class="form-group">
                        <label>Enter Relation</label>
                        <select class="custom-select" formControlName="rel">
                            <option value="Relative">Relative</option>
                            <option value="Friend">Friend</option>
                            <option value="Work">Work</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" (click)="onCloseModal()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">{{editMode ? 'Update Contact' :'Add Contact'}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
